*{
   margin: 0;
   padding: 0;
}
.navbar{
    background-color: grey;
    color: white !important;
}
.navbar-brand{
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}
.navbar-nav li a{
    color: white !important;
    align-items: end;
    padding: 10px 12px 10px 12px;
    gap: 10px;
    float: right;
}
.nav-img{
    float: right; 
}

#banner{
    background-color: black;
    color: white;
    padding-top: 40px;
}
#banner img{
    display: table-column;
    padding-top: 10px;
    margin-top: 10px;
}
.title{
    color: orangered;
    font-weight: 400;
    font-size: 72px;
    line-height: 81.5px;
}
.work-title{
    margin-left: 60px;
}
#works{
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: ;
}
.list li{
    border: 1px solid black;
    padding: 10px 12px 10px 12px;
}
.btn{
   background-color: orangered; 
   color: white;
   border: none;
}
.card-img-overlay{
    color: white;
    margin-top: 50%;
}
#About-me{
    background-color: black;
    color: white;
    margin-top: 50px;
    padding: 130px 0px 130px 0px;
}
#About-me h1{
    color: orangered;
}
.container ul li{
    list-style: none;
    margin-top: 20px;
}
#text{
    padding-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.form{
    border: none;
}
form button{
    background-color: orangered;
    color: white;
    margin: 20px;
    border: none;
    padding: 12px;
    gap: 10px;
}
.bottom{
    text-align: center;
}